.modal-header{
    padding: 0;
}

.modal-title {
    background-color: $colorActivo;
    width: 100%;
    text-align: center;
}

.modal-body {
    text-align: center;
}

.texto-ejecutivo {
    text-align: center;
}