$colorOscuro: #000000;
$colorClaro: #33383b;
$colorActivo:  #FFA500;
$colorFondo:  #FFFFE5;

@import "comunes";
@import "navegacion";
@import "texto";
@import "inicio";
@import "nosotros";
@import "servicios";
@import "cobertura";
@import "cotiza";
@import "contacto";
@import "footer";
@import "formularios";
